@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root[class~="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 230 100% 95%;
    --foreground: 230 5% 10%;
    --card: 230 50% 90%;
    --card-foreground: 230 5% 15%;
    --popover: 230 100% 95%;
    --popover-foreground: 230 100% 10%;
    --primary: 230 53% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 192 30% 85%;
    --muted-foreground: 230 5% 35%;
    --accent: 192 30% 80%;
    --accent-foreground: 230 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 230 5% 90%;
    --border: 230 30% 50%;
    --input: 230 30% 26%;
    --ring: 230 53% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 50% 10%;
    --foreground: 230 5% 90%;
    --card: 230 50% 10%;
    --card-foreground: 230 5% 90%;
    --popover: 230 50% 5%;
    --popover-foreground: 230 5% 90%;
    --primary: 230 53% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 192 30% 25%;
    --muted-foreground: 230 5% 60%;
    --accent: 192 30% 25%;
    --accent-foreground: 230 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 230 5% 90%;
    --border: 230 30% 26%;
    --input: 230 30% 26%;
    --ring: 230 53% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}