@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root[class~="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-dot {
    background-image: radial-gradient(circle, #b2b2b2 1px, transparent 1px), linear-gradient(to top, #1e3a8a, #11151b);
    background-size: 20px 20px, cover;
    background-blend-mode: overlay;
  }
}

@layer base {
  :root {
    --background: 216 100% 95%;
    --foreground: 216 5% 0%;
    --card: 216 50% 90%;
    --card-foreground: 216 5% 10%;
    --popover: 216 100% 95%;
    --popover-foreground: 216 100% 0%;
    --primary: 216 83% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 214.3 94.6% 92.7%;
    --muted-foreground: 216 5% 35%;
    --accent: 213.3 96.9% 87.3%;
    --accent-foreground: 216 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 216 5% 90%;
    --border: 216 30% 50%;
    --input: 216 30% 18%;
    --ring: 216 83% 34%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 216 50% 5%;
    --foreground: 216 5% 90%;
    --card: 216 50% 0%;
    --card-foreground: 216 5% 90%;
    --popover: 216 50% 5%;
    --popover-foreground: 216 5% 90%;
    --primary: 216 83% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222.2 84% 4.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 20.2% 65.1%;
    --muted-foreground: 216 5% 60%;
    --accent: 215.3 25% 26.7%;
    --accent-foreground: 216 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 216 5% 90%;
    --border: 216 30% 18%;
    --input: 216 30% 18%;
    --ring: 216 83% 34%;
    --radius: 0.5rem;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

body {
  @apply bg-background text-foreground;
}

@layer base {
  * {
    @apply border-border;
  }
}